language: android
android:
components:
# The BuildTools version used by your project
- build-tools-24.0.0
# The SDK version used to compile your project
- android-23
    # Update Android SDK Tools
    - tools

    - build-tools-23.0.1
    - android-23

    # Support library
    - extra-android-support
    - extra-android-m2repository

before_install:
- chmod +x PruebaComida/gradlew
install:
- cd PruebaComida
  ./install-dependencies.sh
  ./gradlew assemble

