language: android
android:
components:
# The BuildTools version used by your project
- build-tools-24.0.0
# The SDK version used to compile your project
- android-23
before_install:
- chmod +x gradlew
install:
- ./gradlew assemble
group: 
-stable
dist: 
-precise
  os: 
  -linux
